.sider 
    .inner-menu 
        ul  
            li 
                a(href=`${prefixAdmin}/dashboard`)
                    i.fa-solid.fa-house
                    |  Dashboard
            li 
                a(href=`${prefixAdmin}/products`)
                    i.fas.fa-box-open
                    |  Products
            li 
                a(href=`${prefixAdmin}/orders`)
                    i.fas.fa-shopping-cart
                    |  Orders
            li 
                a(href=`${prefixAdmin}/customers`)
                    i.fas.fa-users
                    |  Customers
            li 
                a(href=`${prefixAdmin}/discounts`)
                    i.fas.fa-tags
                    |  Discounts
            li 
                a(href=`${prefixAdmin}/promotions`)
                    i.fas.fa-bullhorn
                    |  Promotions
            li 
                a(href=`${prefixAdmin}/reports`)
                    i.fas.fa-chart-bar
                    |  Reports
            li 
                a(href=`${prefixAdmin}/settings`)
                    i.fas.fa-cogs
                    |  Settings
            li 
                a(href=`${prefixAdmin}/feedback-management`)
                    i.fas.fa-comments
                    |  Feedback Management
